body{
    margin: 0px;
}
.box-container-1{
    display: flex;
}
.box-model-1{
    width: 300px;
    height: 300px;
    border: 10px solid #CCCCCC;
    margin: 0px;
}

.box-model-2{
    width: 300px;
    height: 300px;
    border: 10px solid #563edd;
    margin: 0px;
}