body{
    background-color: white;
    margin: 0px;
}
header{
    background-color: #4285F4;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav{
    background-color: #DB4437;
    overflow: hidden;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    
}
nav li{
    padding: 20px 30px 20px 30px;
    text-align: center;
    float: left;
}

nav li:hover{
    background-color: #F4B400;
}

.description{
    color: white;
    font-size: 26px;
    width: 60%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    line-height: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.circle{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}